body {
  background-color: #111;
  padding: 0 0 0 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.bos {
  width: 100%;
  height: 750px;
  background-image: url("eye\ of\ god.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
.metin {
  position: relative;
  top: 250px;
  width: 100%;
  height: 50%;
  font-size: 72px;
  background: -webkit-linear-gradient(left, rgb(25, 42, 154), rgb(158, 8, 8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-weight: bold;
}
.metin2 {
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(right, rgb(25, 42, 154), rgb(158, 8, 8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  top: 45px;
  font-size: 72px;
  text-align: center;
}
.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
}
.link-div {
  width: 100%;
  height: 40px;
  background-color: aliceblue;
  margin-top: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.link-div a {
  position: relative;
  color: #0a4780;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  z-index: 3;
}
.link-div:hover a {
  color: #f1f1f1;
  transition: 0.3s ease-in-out;
}
.link-div-2 {
  position: absolute;
  top: 51px;
  width: 1%;
  height: 40px;
  background: -webkit-linear-gradient(right, rgb(92, 108, 214), rgb(158, 8, 8));
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.link-div:hover .link-div-2 {
  color: white;
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
  background-color: #111;
  z-index: 100;
  transition: 0.7s ease-in-out;
  overflow-x: hidden;
}
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  text-decoration: none;
  color: #f1f1f1;
}
.open {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  color: #f1f1f1;
  top: 0;
  left: 0;
  z-index: 999;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.7s ease-in;
}
.reveal.passive {
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.7s ease-in;
}
.main {
  position: relative;
  top: 0px;
  z-index: 5;
  width: auto;
  height: auto;
  background-color: #111;
}
.textarea {
  position: absolute;
  width: 20%;
  height: 500px;
  border-radius: 10px;
  margin-left: 15px;
  background-color: #111;
  z-index: 10;
  float: left;
  transition: all 0.7s ease-in-out;
  color: #f1f1f1;
  text-align: center;
  font-size: 18px;
}
.right {
  top: 0px;
  left: 1150px;
}
.main.reveal {
  background-color: #111;
}
.icerik {
  height: 100%;
  width: 100%;
  background-color: #111;
}
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}
.module-border-wrap {
  max-width: 800px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}

.module {
  background: -webkit-linear-gradient(right, rgb(25, 42, 154), rgb(158, 8, 8));
  color: white;
  padding: 3px;
  width: 800px;
  margin: auto;
  border-radius: 10px;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #f35911;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #f35911;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #f35911;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #f35911;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #f35911;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #f35911;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #f35911;
}

.header {
  position: relative;
  top: 0px;
  width: 100%;
  height: 50%;
  font-size: 72px;
  background: -webkit-linear-gradient(left, rgb(25, 42, 154), rgb(158, 8, 8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-weight: bold;
}
.baslik {
  font-size: 38px;
  text-align: center;
  margin: 70% 0 0 0;
}

.icerik2 {
  position: relative;
  width: 1530px;
  top: 0;
  left: 0;
  height: 500px;

  margin: auto;
  overflow: hidden;
}
.box {
  width: 294px;
  height: 100%;
  float: left;
  border: 1px solid #111;
  background-color: #f9e506;
  border-radius: 10px;
  transition: all 0.7s ease-in-out;
}
.box .baslik a {
  text-decoration: none;
  color: #7ac6c7;
}
.transform {
  width: 330px;
  transition: 0.7s all ease-in-out;
}
.onerilenler {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  margin-top: 5px;
}
.makale {
  width: 19.86%;
  height: 600px;
  background-color: #f35911;
  border-radius: 10px;
  float: left;
  margin: auto;
  border: #111 solid 1px;
}
